[package]
name = "mlua"
version = "0.2.0"
authors = ["Aleksandr Orlenko <zxteam@pm.me>", "kyren <catherine@chucklefish.org>"]
edition = "2018"
repository = "https://github.com/khvzak/mlua"
documentation = "https://docs.rs/mlua"
readme = "README.md"
keywords = ["lua", "luajit"]
categories = ["api-bindings"]
license = "MIT"
description = """
High level bindings to Lua 5.1/5.2/5.3 (including LuaJIT)
with support of writing native lua modules in Rust.
"""

[badges]
travis-ci = { repository = "khvzak/mlua", branch = "master" }

[workspace]
members = [
    "mlua_derive",
]

[features]
default = ["lua53"]
lua53 = []
lua52 = []
lua51 = []
luajit = []

[dependencies]
num-traits = { version = "0.2.6" }
bstr = { version = "0.2", features = ["std"], default_features = false }

[build-dependencies]
cc = { version = "1.0" }
pkg-config = { version = "0.3.11" }

[dev-dependencies]
rustyline = "5.0"
criterion = "0.2.0"
trybuild = "1.0"

[[bench]]
name = "benchmark"
harness = false
