[package]
name = "mlua_derive"
version = "0.1.0"
authors = ["Alex Orlenko <zxteam@protonmail.com>"]
edition = "2018"

[lib]
proc-macro = true

[dependencies]
proc-macro2 = "1.0"
quote = "1.0"
syn = { version = "1.0", features = ["full"] }
